@page "/categories"

@using TheWorkBook.Data
@using TheWorkBook.Dto
@inject CategoryService CategoryService

<h1>Choose Category</h1>

@*<p>This component demonstrates fetching data from a service.</p>*@

@if (categories == null)
{
	<p><em>Loading...</em></p>
}
else
{
	@foreach (var categoryDto in categories)
	{
		@categoryDto.CategoryName
	}
}


@code {
	private List<CategoryDto> categories;

	protected override async Task OnInitializedAsync()
	{
		categories = await CategoryService.GetCateogies();
	}
}
