@page "/listings/{Id:int}"

@using TheWorkBook.Data
@using TheWorkBook.Dto
@inject CategoryService CategoryService

<h1>Listings</h1>

@if (categories == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<div class="container">  
		@foreach (var categoryDto in categories)
		{
			<div class="category">
				<a class="btn btn-secondary" href="/listings/@categoryDto.CategoryId">
					@categoryDto.CategoryName
				</a>				
			</div>
		}
	</div>
}


@code {
	[Parameter]
    public int Id { get; set; }

	private List<CategoryDto> categories;

	protected override async Task OnInitializedAsync()
	{
		//categories = await CategoryService.GetCateogies();
	}
}
