@page "/ProposalList"

<div class="row bg-light mb-5">
    <div class="col-2">
        <a onclick="goBack()">
            <i class="oi oi-chevron-left"></i>
        </a>
    </div>
    <div class="col-10">
        <h4>Post Proposal</h4>
    </div>
</div>


<div class="m-2">
    <div class="mt-4">
        <hr />

        @for (int i = 0; i < 5; i++)
        {
            @*Item 1 - start*@
            <div>
                <h4 class="">Applicant Name</h4>
                <div class="row">

                    <div class="col-6 ">
                        <div class="float-end">
                            <label class="">
                                <b>
                                    Duration:
                                </b>
                            </label>
                            <div>
                                Less than 1 month
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <label>
                            <b>
                                Experience Level:
                            </b>
                        </label>
                        <span>
                            Expert
                        </span>
                    </div>
                </div>

                <p class="mt-4">
                    Expert in .NET MAUI Blazor with API integration.
                    Applicant have worked on user interfaces as well.
                </p>

                <div class="row">
                    <div class="col-6">
                        <label>
                            Payment:
                        </label>
                        <span>
                            €200
                        </span>
                    </div>

                </div>

                <div class="row mt-4">
                    <div class="col-6 d-grid gap-2">
                        <button class="btn btn-outline-danger">
                            Reject
                        </button>
                    </div>
                    <div class="col-6 d-grid gap-2">
                        <button class="btn btn-outline-success">
                            Accept
                        </button>
                    </div>
                </div>
            </div>
            <hr />
            @*Item 1 - end*@
        }
    </div>
</div>



